
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
  background-color: rgb(229, 216, 216);
}

.container {
  width: 456px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 0%);
  margin-top: 50px;

  background-color: rgb(38, 38, 126);
  border-radius: 5px;
}

.title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding: 20px 0 25px 0;
}

.wrapper {
text-align: center;
}

.input {
  width: 81%;
  padding: 11px 8px;
  border: none;
  border-radius: 5px;
  font-family: "Inter";
  margin-bottom: 20px;
  outline: none;
  margin-left: -2px;
  
}

.add-button {
  padding: 11px 8px;
  border: none;
  border-radius: 5px;
  font-family: "Inter";
  cursor: pointer;
  margin-right: -2px;
}

/* .lists {

} */

.list {
  background-color: #fff;
  padding: 5px;
  width: 240px;
  border-radius: 5px;
  margin-bottom: 11px;
  list-style: none;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}


.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* width: 70px; */
}
.clear {
  background-color: #fff;
  width: 70px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 80px;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
}

.counter {
  background-color: #fff;
  width: 80px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 5px;
}

.icons {
  padding-left: 8px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}